<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base_layout}">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <title th:text="#{role}">Role</title>
</head>
<body layout:fragment="content">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-1">
            <h1>Exception</h1>
        </div>
        <div class="col-sm-1">
            <h1>Exception</h1>
        </div>
    </div>
</body>
</html>