<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE" >Karee Tee</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/static/img/favicon.png" th:href="@{/static/img/favicon.png}"/>
    <link href="../static/css/bootstrap.min.css"  th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/ie10-viewport-bug-workaround.css"  th:href="@{/static/css/ie10-viewport-bug-workaround.css}" rel="stylesheet"/>
    <link href="../static/css/app.css"  th:href="@{/static/css/app.css}" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" th:src="@{https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div th:replace="layout/fragment/navigation :: navigation"></div>
    </nav>
    <!--To be rendered -->
    <div layout:fragment="content">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <h1>Static content for prototyping purposes only</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit.
        </p>
    </div>
    <div th:replace="layout/fragment/footer :: footer">&copy; 2018 KTee</div>
</div>
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
<!--<script>window.jQuery || document.write('<script th:src="@{/static/js/jquery.min.js}"><\/script>')</script>-->
<script src="../static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
<!--<script src="../static/js/holder.min.js" th:src="@{/static/js/holder.min.js}"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/js/ie10-viewport-bug-workaround.js" th:src="@{/static/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
