<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base_layout}">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <title th:text="#{permission.view}">Permission</title>
</head>
<body layout:fragment="content">
<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
        <form class="form-horizontal" th:action="@{/permission/create}" th:object="${permission}" method="post">

            <input th:type="hidden" name="id" th:if="*{id} != null" th:value="*{id}"/>

            <div th:class="${#maps.containsKey(errors,'name')} ? 'form-group has-error' : 'form-group'">
                <label th:for="${#ids.next('name')}" class="col-sm-2 control-label"
                       th:text="#{permission.form.name}">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" th:value="*{name}" aria-describedby="msgblock"/>
                    <span class="help-block" th:each="u : ${errors.name}" th:text="${u}">user name<br></span>
                </div>
            </div>

            <div th:class="${#maps.containsKey(errors,'description')}? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label" th:for="${#ids.next('description')}"
                       th:text="#{permission.form.description}">Password</label>
                <div class="col-sm-10">
                    <textarea name="description" class="form-control" aria-describedby="tablock"
                              th:text="*{description}"></textarea>
                    <span class="help-block" th:each="u : ${errors.description}"
                          th:text="${u}">description errors<br></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="reset" th:text="#{permission.form.cancel}" class="btn btn-default form-control">Reset
                    </button>
                </div>
                <div class="col-sm-2">
                    <button type="submit" th:text="*{id} != null ?  #{permission.form.update} : #{permission.form.submit}"
                            class="form-control btn btn-default">Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
            <a th:href="@{/permission/list}" th:text="#{permission.create.list}" class="list-group-item">Permissions</a>
        </div>
    </div>
</div>
</body>
</html>