<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base_layout}">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <title th:text="#{role.list}">Roles</title>
</head>
<body layout:fragment="content">
<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 th:text="#{role.list}" class="panel-title">Roles</h3>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th th:text="#{role.list.name}">Name</th>
                    <th th:text="#{role.list.description}">Description</th>
                    <th th:text="#{role.list.actions}">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(kTeeRoles)}">
                    <td th:colspan="3" th:text="#{role.list.no.role}">No roles available</td>
                </tr>
                <tr th:each="role : ${kTeeRoles}">
                    <td th:text="${role.name}">Name</td>
                    <td th:text="${role.description}">Description</td>
                    <td>
                <span>
                    <a role="button" href="#" class="btn btn-default btn-xs"
                       th:href="@{/role/view/{id}(id=${role.id})}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"/>
                        <span th:text="#{role.list.view}">view</span>
                    </a>
                </span>
                        <span>
                    <a role="button" href="#" class="btn btn-default btn-xs"
                       th:href="@{/role/{id}/edit(id=${role.id})}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        <span th:text="#{role.list.edit}">edit</span>
                    </a>
                </span>
                        <span>
                    <a role="button" href="#" class="btn btn-default btn-xs"
                       th:href="@{/role/{id}/delete(id=${role.id})}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span th:text="#{role.list.delete}">delete</span>
                    </a>
                </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--<nav aria-label="navigation">-->
            <!--<ul class="pager">-->
            <!--<li>-->
            <!--<a th:if="${page.hasPrevious()}"-->
            <!--th:href="@{/authorities(page=${page.previousPageable().getPageNumber()},-->
            <!--page.size=${page.previousPageable().getPageSize()})}"-->
            <!--th:text="${'previous '} + ${page.getSize()}">Previous</a></li>-->

            <!--<li><th:span th:text=" 'page ' + ${ __${page.getNumber() + 1}__ + ' of ' + __${page.getTotalPages()}__}">page x of y</th:span></li>-->

            <!--<li><a th:if="${page.hasNext()}"-->
            <!--th:href="@{/authorities(page=${page.nextPageable().getPageNumber()},-->
            <!--page.size=${page.nextPageable().getPageSize()})}"-->
            <!--th:text="${'next '} + ${page.getSize()}">Next</a>-->

            <!--</li>-->
            <!--</ul>-->
            <!--</nav>-->

        </div>
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
            <a th:href="@{/role/create}" th:text="#{role.list.createrole}" class="list-group-item">Create Role</a>
        </div>
    </div>
</div>
</body>
</html>