<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base_layout}">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <title th:text="#{role.view}">View</title>
</head>
<body layout:fragment="content">
<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
        <form class="form-horizontal" action="#">

            <div class="form-group">
                <label th:for="${#ids.next('name')}" class="col-sm-2 control-label"
                       th:text="#{role.form.name}">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" th:value="${kteerole.name}"
                           th:readonly="readonly"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" th:for="${#ids.next('description')}"
                       th:text="#{role.form.description}">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" th:readonly="readonly" name="description"
                              th:text="${kteerole.description}"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-1">
                    <a type="submit" th:href="@{/role/{id}/edit(id=${kteerole.id})}" th:text="#{role.view.edit}"
                       class="form-control btn btn-default">Submit</a>
                </div>
                <div class="col-md-2">
                    <a type="submit" th:href="@{/role/list}" class="form-control btn btn-default"
                       th:text="#{role.view.list}">Submit</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
            <a th:href="@{/role/list}" th:text="#{role.view.list}" class="list-group-item">Roles</a>
            <a th:href="@{/role/create}" th:text="#{role.view.createrole}" class="list-group-item">Create Role</a>
        </div>
    </div>
</div>
</body>
</html>