<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base_layout}">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <title th:text="#{role.view}">View</title>
</head>
<body layout:fragment="content">
<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
        <form class="form-horizontal" th:object="${user}" >

            <input th:type="hidden" name="id" th:if="*{id} != null" th:value="*{id}"/>

            <div th:class="${#maps.containsKey(errors,'firstname')} ? 'form-group has-error' : 'form-group'">
                <label th:for="${#ids.next('firstname')}" class="col-sm-2 control-label"
                       th:text="#{user.form.firstname}">FirstName</label>
                <div class="col-sm-10">
                    <input type="text" th:readonly="readonly" name="firstname" class="form-control" th:value="*{firstname}"
                           aria-describedby="msgblock"/>

                </div>
            </div>

            <div th:class="${#maps.containsKey(errors,'middlename')} ? 'form-group has-error' : 'form-group'">
                <label th:for="${#ids.next('middlename')}" class="col-sm-2 control-label"
                       th:text="#{user.form.middlename}">MiddleName</label>
                <div class="col-sm-10">
                    <input type="text" name="middlename" th:readonly="readonly" class="form-control" th:value="*{middlename}"
                           aria-describedby="msgblock"/>
                </div>
            </div>

            <div th:class="${#maps.containsKey(errors,'lastname')} ? 'form-group has-error' : 'form-group'">
                <label th:for="${#ids.next('lastname')}" class="col-sm-2 control-label"
                       th:text="#{user.form.lastname}">LastName</label>
                <div class="col-sm-10">
                    <input type="text" name="lastname" th:readonly="readonly" class="form-control" th:value="*{lastname}"
                           aria-describedby="msgblock"/>
                </div>
            </div>

            <div th:class="${#maps.containsKey(errors,'username')} ? 'form-group has-error' : 'form-group'">
                <label th:for="${#ids.next('username')}" class="col-sm-2 control-label"
                       th:text="#{user.form.username}">username</label>
                <div class="col-sm-10">
                    <input th:readonly="readonly" type="text" name="username" class="form-control" th:value="*{username}"
                           aria-describedby="msgblock"/>

                </div>
            </div>

            <div th:class="${#maps.containsKey(errors,'password')} ? 'form-group has-error' : 'form-group'">
                <label th:for="${#ids.next('password')}" class="col-sm-2 control-label"
                       th:text="#{user.form.password}">password</label>
                <div class="col-sm-10">
                    <input type="text" name="password" th:readonly="readonly" class="form-control" th:value="*{password}"
                           aria-describedby="msgblock"/>
                </div>
            </div>

            <div th:class="${#maps.containsKey(errors,'email')} ? 'form-group has-error' : 'form-group'">
                <label th:for="${#ids.next('email')}" class="col-sm-2 control-label"
                       th:text="#{user.form.email}">Email</label>
                <div class="col-sm-10">
                    <input type="text" name="email" th:readonly="readonly" class="form-control" th:value="*{email}"
                           aria-describedby="msgblock"/>
                </div>
            </div>

            <div th:class="${#maps.containsKey(errors,'address')} ? 'form-group has-error' : 'form-group'">
                <label th:for="${#ids.next('address')}" class="col-sm-2 control-label"
                       th:text="#{user.form.address}">Address</label>
                <div class="col-sm-10">
                    <input th:readonly="readonly" type="text" name="address" class="form-control" th:value="*{address}"
                           aria-describedby="msgblock"/>
                </div>
            </div>

            <div th:class="${#maps.containsKey(errors,'age')} ? 'form-group has-error' : 'form-group'">
                <label th:for="${#ids.next('age')}" class="col-sm-2 control-label"
                       th:text="#{user.form.age}">Age</label>
                <div class="col-sm-10">
                    <input th:readonly="readonly" type="text" name="age" class="form-control" th:value="*{age}" aria-describedby="msgblock"/>
                </div>
            </div>

            <div th:class="${#maps.containsKey(errors,'sex')} ? 'form-group has-error' : 'form-group'">
                <label th:for="${#ids.next('sex')}" class="col-sm-2 control-label"
                       th:text="#{user.form.sex}">sex</label>
                <div class="col-sm-10">
                    <input type="text" name="sex" th:readonly="readonly" class="form-control" th:value="*{sex}" aria-describedby="msgblock"/>
                </div>
            </div>

            <div th:class="${#maps.containsKey(errors,'city')} ? 'form-group has-error' : 'form-group'">
                <label th:for="${#ids.next('city')}" class="col-sm-2 control-label"
                       th:text="#{user.form.city}">city</label>
                <div class="col-sm-10">
                    <input th:readonly="readonly" type="text" name="city" class="form-control" th:value="*{city}" aria-describedby="msgblock"/>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="reset" th:text="#{user.form.cancel}" class="btn btn-default form-control">Reset
                    </button>
                </div>
                <div class="col-sm-2">
                    <button type="submit" th:text="*{id} != null ?  #{user.form.update} : #{user.form.submit}"
                            class="form-control btn btn-default">Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
            <a th:href="@{/user/list}" th:text="#{user.view.list}" class="list-group-item">User</a>
            <a th:href="@{/user/create}" th:text="#{user.view.createuser}" class="list-group-item">Create User</a>
        </div>
    </div>
</div>
</body>
</html>